@model IEnumerable<FoodCorner.Models.Order>

@{
    ViewData["Title"] = "Index";
    var cartItems = ViewBag.cartItems;
}

<h1>My cart</h1>
<div class="container cart-body">
    <div class="cart">
        @foreach (var item in cartItems)
        {
            <div class="cart-item">
                <div>
                    <img src="@item.imageUrl" class="cart-img" />
                </div>
                <div class="cart-description">
                    <h3 class="text-center">@item.orderName</h3>
                    <h4 class="text-center">₺@item.price ₺</h4>
                </div>
                <div class="cart-button">
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.orderID">Remove From Cart</a>
                </div>
            </div>
        }
    </div>
    <div class="checkout">
        <div>
            <h3>Total:  @ViewBag.totalPrice ₺</h3>
        </div>
        <a class="btn btn-info" asp-action="Checkout">Proceed to Checkout</a>
    </div>
</div>


