@{
    ViewData["Title"] = "Index";
}
<div class="row row-cols-1 row-cols-md-3 mt-5">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://img.freepik.com/premium-photo/waiters-serve-table_124271-1.jpg?w=1060" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Restaurants</h5>
            <a href="#" class="btn btn-primary">View</a>
        </div>
    </div> 
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://img.freepik.com/free-vector/cutlery-set-white-plate-fork-spoon-knife-isolated-white_134830-841.jpg?w=996&t=st=1672233092~exp=1672233692~hmac=6e148d8c5f5ce8d819b9328dd7267320f9cb8448b305699d82b359aad61735f8" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Menu</h5>
            <a href="#" class="btn btn-primary">View</a>
        </div>
    </div> 
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Orders</h5>
            <a href="#" class="btn btn-primary">View</a>
        </div>
    </div>
</div>