@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://img.freepik.com/free-vector/delivery-service-illustrated_23-2148505081.jpg?w=740&t=st=1672230323~exp=1672230923~hmac=1849a3560a303f5152b912939304b28a8bee36b1f159f7ead5b814c51475fa73" />
</div>
